<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}" type="text/css" />
</head>
<script>
    function checkAll(source) {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      for(var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
</script>
<body>
<table border="1" cl    ass="table">
    <thead class="table-dark">
    <tr>
        <th><input type="checkbox" onclick="checkAll(this)"></th>
        <th>번호</th>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>닉네임</th>
        <th>전화번호</th>
        <th>잔고</th>
        <th>탈퇴여부</th>
        <th>수정</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member:${memberList}" >
        <td><input type="checkbox" name="${member.id}" value="${member.id}" ></td>
        <td th:text="${member.id}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.password}"></td>
        <td th:text="${member.nickname}"></td>
        <td th:text="${member.phoneNumber}"></td>
        <td th:text="${member.balance}"></td>
        <td th:text="${member.withdrawalRequested}"></td>
        <td><a th:href="@{|/member/edit/${member.id}|}"
             th:text="수정"></a></td>
        </tr>


    </tbody>
</table>
<a href="">삭제</a>
</body>
</html>