<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script th:inline="javascript">
    function deleteMember(id) {
       location.href = '/member/delete?id='+ id;
   }
</script>
<body>
<form method="post" th:object="${member}"  th:action="@{/member/edit/__${member.id}__}">
<table border="1" class="table">
    <thead class="table-dark">
    <tr>
        <td>번호</td><td th:text="${member.id}"></td>
    </tr>
    <tr>
        <td>닉네임</td>
        <td th:text="${member.nickname}"></td>
    </tr>
    <tr>
        <td>이메일</td>
        <td th:text="${member.email}"></td>
    </tr>
    <tr>
    <td>비밀번호</td>
    <td th:textarea="${member.password}"><input type="text" th:value="${member.password}" th:field="*{password}"></td>
    </tr>
    <tr>
        <td>전화번호</td>
        <td th:textarea="${member.phoneNumber}"><input type="text" th:value="${member.phoneNumber}" th:field="*{phoneNumber}"></td>
    </tr>
    <tr>
        <td>잔고</td>
        <td th:text="${member.balance}"></td>
    </tr>
    <tr>
        <td>탈퇴여부</td>
        <td>
        <input type="radio" name="withdrawalRequested" value="1" th:checked="${member.withdrawalRequested}==true"}>Y
        <input type="radio" name="withdrawalRequested" value="0" th:checked="${member.withdrawalRequested}!=true">N</td>
    </thead>
</table>
    </tr>
    <button type="button" onclick="location.href='/member/list'">목록</button>
    <button type="submit" >수정</button>
    <button type="button" th:onclick="'deleteMember(' +${member.id}+')'">삭제</button>


</form>
</body>
</html>