<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-PRrgQVJ8NNHGieOA1grGdCTIt4h21CzJs6SnWH4YMQ6G5F5+IEzOHz67L4SQaF0o" crossorigin="anonymous">

<script>
    function checkAll(source) {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      for(var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
</script>
<style>
  .body {
           background-color: #000000;
        }
</style>
<body>
<div class="body">
    <div class="container"  >
<form method="post" th:object="${musicAuction}" action="/musicAuction/delete">
<table border="1"  class="table table-dark table-striped" style="text-align: center;">
    <thead>
    <tr>
        <th><input type="checkbox" name="selectedMusicAutions" value="${musicAuction.id}" onclick="checkAll(this)"></th>
        <th>글번호</th>
        <th>제목</th>
        <th>장르</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="musicAuction:${musicAuctionList}" >
        <td><input type="checkbox" name="selectedMusicAutions" th:value="${musicAuction.id}" ></td>
        <td th:text="${musicAuction.id}" name="id"></td>
        <td  name="title"><a href="" th:text="${musicAuction.title}"></a></td>
        <td th:text="${musicAuction.authorNickname.nickname}" name="authorNickname"></td>
        <td th:text="${musicAuction.authorNickname.nickname}" name="authorNickname"></td>
        <td th:text="${#temporals.format(musicAuction.createdAt,'yyyy-MM-dd HH:mm')}" name="createdAt"></td>
    </tr>
    </tbody>
</table>
    <button class="btn btn-light" type="submit" style="text-align:right;">삭제</button>
</form>
    </div>
</div>
</body>
</html>