<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-PRrgQVJ8NNHGieOA1grGdCTIt4h21CzJs6SnWH4YMQ6G5F5+IEzOHz67L4SQaF0o" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function checkAll(source) {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      for(var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
    document.addEventListener("DOMContentLoaded", function () {
const deleteButtons = document.querySelectorAll(".delete-button");

deleteButtons.forEach(button => {
button.addEventListener("click", function (event) {
event.preventDefault(); // 기본 동작 취소


Swal.fire({
title: ' 글 삭제',
text: '정말로 삭제하시겠습니까?',
icon: 'warning',
showCancelButton: true,
confirmButtonText: '삭제',
cancelButtonText: '취소',
}).then((result) => {
if (result.isConfirmed) {
const deleteForm = button.closest('form'); // 버튼이 속한 form 요소 찾기
deleteForm.action = "/musicAuction/delete";
deleteForm.submit(); // form 제출
}
});
});
});
});
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Raleway:wght@600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap">
<style>
    body {
     background-color: #000000;
      font-family: 'Noto Sans KR', sans-serif;
       font-family: 'Roboto', sans-serif;
    }
    a {
      text-decoration-line: none;
      color:white;
    }
    .btn{
     border-color:#fff;}
</style>

<nav class="" th:fragment="navbarFragment"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" style="width:1920px;height: 100px; float: left; background-color: none;">
    <div class="bigBox">



        <ul class="" style="list-style-type:none;">
            <li class="nav-item">
                <!-- 타임리프의 security이용
                sec:authorize="isAnonymous()은 로그인하지않는 경우->로그인 출력
                sec:authorize="isAuthenticated()은 로그인한 경유->로그아웃 출력
                -->
                <a class="logo"  th:href="@{/main/list}"><img src="/pictures/logo.png" style="width:82px; height:57px; float:left; margin-left:180px; margin-top:45px;"></a>

                <a class="loginBtn" sec:authorize="isAnonymous()" th:href="@{/user/plLogin}"
                   style="position: absolute; text-decoration:none; margin-left: 1320px; margin-top: 70px;  font-size: 25px; color:white; font-family: 'Roboto', sans-serif;">LogIn</a>



                <a class="" sec:authorize="isAuthenticated()" th:href="@{/member/list}"
                   style="text-decoration:none; float:left; margin-top: 70px; font-size: 25px; color:white; margin-left: 1100px; font-family: 'Roboto', sans-serif;">MemberList</a>
                <a class="" sec:authorize="isAuthenticated()"  th:href="@{/user/plLogout}"
                   style="text-decoration:none; float:left; margin-top: 70px; font-size: 25px; color:white; margin-left: 50px; font-family: 'Roboto', sans-serif;">LogOut</a>


                <!-- 카카오 로그인 후 로그인/로그아웃 링크 변경 -->

                <!-- <a class="logoutKakao" href="javascript:kakaoLogout();" >
                     로그아웃
                 </a>-->




            </li>

        </ul>


    </div>


    <body>
<div style="margin:150px;" >
    <div class="container"  >
<form method="post" th:object="${musicAuction}" action="/detail/delete/{id}">
<table border="1"  class="table table-dark table-striped" style="text-align: center;">
    <thead>
    <tr>
        <th><input class="checkBox" type="checkbox" name="selectedMusicAutions" value="${musicAuction.id}" onclick="checkAll(this)"></th>
        <th>글번호</th>
        <th>제목</th>
        <th>장르</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="musicAuction:${musicAuctionList}" >
        <td><input type="checkbox" name="selectedMusicAutions" th:value="${musicAuction.id}" ></td>
        <td th:text="${musicAuction.id}" name="id"></td>
        <td name="title"><a th:href="@{/detail/${musicAuction.id}}" th:text="${musicAuction.title}"></a></td>
        <td th:text="${musicAuction.genre.name}" name="genre"></td>
        <td th:text="${musicAuction.authorNickname.nickname}" name="authorNickname"></td>
        <td th:text="${#temporals.format(musicAuction.createdAt,'yyyy-MM-dd HH:mm')}" name="createdAt"></td>
    </tr>
    </tbody>
</table><div style="text-align: left;">
    <button class="btn btn-dark delete-button" type="submit">삭제</button></div>
    <div style="text-align: center;">
    <a th:href="@{/musicAuction/list(page=${firstPage})}" th:if="${page!=firstPage}"  th:text="'처음'" class="btn btn-dark"></a>
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:href="@{/musicAuction/list(page=${page-1})}" th:if="${page != nowPage}"  th:text="${page}" class="btn btn-dark"></a>
        <strong th:if="${page == nowPage}" th:text="${page}" class="btn btn-primary" style="background-color:#5F23E5; border-color:#5F23E5;"></strong>
    </th:block>
    <a th:href="@{/musicAuction/list(page=${lastPage})}" th:if="${page != lastPage}" th:text="'끝'" class="btn btn-dark"></a>
</div>
</form>
    </div>
</div>
</body>
</nav>
</html>