<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>입금</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hwet_mypage.css}">
    <!-- jQuery 및 SweetAlert2 스타일시트, 스크립트 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto">

</head>
<body>
<h2>입금</h2>

<div class="transaction-container">
    <label for="depositAmount">입금 금액:</label>
    <div class="bordered">
        <input type="number" id="depositAmount"
               onkeydown="handleKeyPress(event)" placeholder="입금할 금액을 설정해주세요" required>
    </div>
    <button type="button" onclick="submitDeposit()">입금</button>
    <button type="button" onclick="closeWindow()">취소</button>
</div>



<script th:inline="javascript">
    function handleKeyPress(event) {
        if (event.key === "Enter") {
            submitDeposit();
        }
    }

    function submitDeposit() {
        var depositAmount = $('#depositAmount').val();

        $.ajax({
            url: /*[[@{/mypage/balance}]]*/,
            type: "POST",
            data: {
                action: 'deposit',
                balance: depositAmount
            },
            success: function(response) {
                if (response === 'Success'){
                    Swal.fire({
                        icon: 'success',
                        title: '입금 완료',
                        text: '입금이 성공적으로 이루어졌습니다.'
                    }).then(() => {
                        window.opener.location.reload();
                        window.close();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '입금 실패',
                        text: response
                    });
                }

            },
            error: function(xhr, status, error) {
                console.log(error);
                Swal.fire({
                    icon: 'error',
                    title: '입금 실패',
                    text: '입금을 처리하는 도중 오류가 발생했습니다.'
                });
            }
        });
    }

    function closeWindow() {
        window.close();
    }
</script>
</body>
</html>
