<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<audio controls>
    <source th:src="@{/audios/uploaded_audios/__${audioFileName}__}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>




<audio controls>
    <source th:src="@{/audios/uploaded_audios/a0b88416-6ca4-41e2-867c-bdf843899627_NewJeans%20-%20ETA.mp3}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>


</body>
</html>
