<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info List</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto">

</head>
<body>

<div class="bigBox">



    <ul class="" style="list-style-type:none;">
        <li class="nav-item">
            <!-- 타임리프의 security이용
            sec:authorize="isAnonymous()은 로그인하지않는 경우->로그인 출력
            sec:authorize="isAuthenticated()은 로그인한 경유->로그아웃 출력
            -->
            <a class="logo"  th:href="@{/main/list}"><img src="/pictures/logo.png" style="width:82px; height:57px; float:left; margin-left:180px; margin-top:45px;"></a>

            <a class="loginBtn" sec:authorize="isAnonymous()" th:href="@{/user/plLogin}"
               style="position: absolute; text-decoration:none; margin-left: 1320px; margin-top: 70px;  font-size: 25px; color:white; font-family: 'Roboto', sans-serif;">LogIn</a>
            <a class="" sec:authorize="isAuthenticated()" th:href="@{/mypage/userinfo}"
               style="text-decoration:none; float:left; margin-top: 70px; font-size: 25px; color:white; margin-left: 1170px; font-family: 'Roboto', sans-serif;">MyPage</a>
            <a class="" sec:authorize="isAuthenticated()"  th:href="@{/user/plLogout}"
               style="text-decoration:none; float:left; margin-top: 70px; font-size: 25px; color:white; margin-left: 50px; font-family: 'Roboto', sans-serif;">LogOut</a>


            <!-- 카카오 로그인 후 로그인/로그아웃 링크 변경 -->

            <!-- <a class="logoutKakao" href="javascript:kakaoLogout();" >
                 로그아웃
             </a>-->




        </li>

    </ul>


</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nickname</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Balance</th>
        <th>계좌</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userInfo : ${userInfoList}">
        <td th:text="${userInfo.id}">Default ID</td>
        <td th:text="${userInfo.nickname}">Default Nickname</td>
        <td th:text="${userInfo.email}">Default Email</td>
        <td th:text="${userInfo.phoneNumber}">Default Phone Number</td>
        <td th:text="${userInfo.balance}">Default Balance</td>
        <td>
            <a th:href="@{/mypage/userinfo(userId=${userInfo.id})}">View Details</a>
        </td>
        <td>
            <a th:href="@{/mypage/balance(userId=${userInfo.id})}">입출금</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
