<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        function previewImage() {
                var image_upload = document.getElementById('memberImage');
                var image_preview = document.getElementById('image_preview');
                var cancel_button = document.getElementById('cancel_image');

                if (image_upload.files && image_upload.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        image_preview.src = e.target.result;
                        image_preview.style.display = 'block';
                        cancel_button.style.display = 'block';
                    };

                    reader.readAsDataURL(image_upload.files[0]);
                }
            }

            function cancelImage(event) {
                event.preventDefault(); // 버튼 클릭 시 기본 동작 (폼 제출) 막기

                var image_preview = document.getElementById('image_preview');
                var cancel_button = document.getElementById('cancel_image');
                var image_upload = document.getElementById('memberImage');

                // 이미지 미리보기 초기화
                image_preview.src = '#';
                image_preview.style.display = 'none';
                cancel_button.style.display = 'none';
                image_upload.value = ''; // 파일 선택 초기화
            }

    </script>




</head>
<body>

<h1 th:text="|${userInfo.nickname}님의 정보수정|"></h1>
<h1 th:text="|${userInfo.email}님의 정보수정|"></h1>



<form th:action="@{/mypage/useredit(userId=${userInfo.id})}" th:object="${memberEditValidator}" method="post" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" th:value="${userInfo.id}"/><br>

    <div>변경전 이미지 <img th:src="@{__${userInfo.memberImage}__}" alt="Image" style="max-width: 20%;"></div>
    <label for="memberImage">변경할 이미지</label>
    <input type="file" name="image" id="memberImage" th:value="${userInfo.memberImage}" accept="image/*" onchange="previewImage()" /><br>
    <img id="image_preview" src="#" alt="Image Preview" style="max-width: 20%; display: none;" />
    <button id="cancel_image" style="display: none;" onclick="cancelImage(event)">이미지 취소</button>

    <label for="password">Password</label>
    <input th:field="*{password}" id="password"/><br>

    <div style="color:red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>

    <label for="phoneNumber">Phone Number</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" /> <br>

    <div style="color:red;" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></div>

    <label for="audio">오디오(저장테스트)</label>
    <input type="file" name="audio" id="audio" accept="audio/*" /><br>

    <input type="submit" value="Submit">
</form>

<a th:href="@{/mypage/userdelete(userId=${userInfo.id})}">회원삭제</a>
</body>
</html>
