<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">

        function previewImage() {
                var image_upload = document.getElementById('memberImage');
                var image_preview = document.getElementById('image_preview');
                var cancel_button = document.getElementById('cancel_image');

                if (image_upload.files && image_upload.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        image_preview.src = e.target.result;
                        image_preview.style.display = 'block';
                        cancel_button.style.display = 'block';
                    };

                    reader.readAsDataURL(image_upload.files[0]);
                }
            }

            function cancelImage() {
                var image_preview = document.getElementById('image_preview');
                var cancel_button = document.getElementById('cancel_image');
                var image_upload = document.getElementById('memberImage');

                // 이미지 미리보기 초기화
                image_preview.src = '#';
                image_preview.style.display = 'none';
                cancel_button.style.display = 'none';
                image_upload.value = ''; // 파일 선택 초기화

                return false;
            }
    </script>




</head>
<body>
<form th:action="@{/mypage/useredit(userId=${userInfo.id})}" method="post" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" th:value="${userInfo.id}"/><br>

    <label for="nickname">닉네임</label>
    <input type="text" id="nickname" name="nickname" th:value="${userInfo.nickname}" readonly/><br>

    <label for="memberImage">이미지</label>
    <input type="file" name="image" id="memberImage" th:value="${userInfo.memberImage}" accept="image/*" onchange="previewImage()" /><br>
    <img id="image_preview" src="#" alt="Image Preview" style="max-width: 40%; display: none;" />
    <button id="cancel_image" style="display: none;" onclick="cancelImage()">이미지 취소</button>


    <label for="audio">오디오</label>
    <input type="file" name="audio" id="audio" accept="audio/*" /><br>

    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" th:value="${userInfo.password}" /><br>


    <label for="phoneNumber">전화번호</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:value="${userInfo.phoneNumber}" /><br>

    <input type="submit" value="수정하기">
</form>
</body>
</html>
