<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>입찰 생성</title>

</head>
<body>
<form th:action="@{/bid/create}" method="post">

    <label for="bidder">입찰자</label>
    <input type="text" id="bidder" name="bidder" value="qwert" readonly/><br>

    <label for="auction_id">입찰 물품</label>
    <input type="text" id="auction_id" name="auctionId" value="2"  readonly/><br>

    <label for="price">입찰 금액</label>
    <input type="number" id="price" name="price" /><br>


    <input type="submit" value="입찰등록">
</form>
</body>
</html>
