<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세정보</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/detail_.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/audiplay.css}">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/audiplay.js}"></script>

</head>
<body>

<div class="container">

    <div class="container-header">
        <div class="title-split-container">
            <div class="title-left-side">
                <img class="title-image" src="" onError="this.src='/pictures/no_profile.png';" alt="Album Cover">
            </div>

            <div class="title-right-side">
                <div>장르</div>
                <h1 class="album-title">Album Title</h1>

                <div>
                <img class="title-profile-image" src="" onError="this.src='/pictures/no_profile.png';" alt="Album Cover">
                <span class="author">Author</span>
                </div>

                <div class="title-audio">
                    <audio-player title="My cool super long named audio sound"
                                  src="/AKMU-Love Lee.m4a"
                                  bar-width="5"
                                  bar-gap="2"
                                  preload autoplay></audio-player>
                </div>
                <script src="/js/audio-player.js"></script>

            </div>
        </div>
    </div>


    <div class="container-body">

        <div class="body-left-side">글 내용, 댓글, 경매현황(참가자)?</div>

        <div class="body-right-side">경매 현황/ 남은시간, 최대입찰가, 입찰기능</div>

    </div>

</div>




</body>
</html>
