<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세정보</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/detail_.css}">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto">

    <script th:src="@{/js/audiplay.js}"></script>

    <!--/* 두 개로 나뉜 Comment, Entries에 대한 기능 구현을 위한 스크립트 */-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll('.button-container button');
        const commentContent = document.querySelector('.body-comment');
        const authorPostContent = document.querySelector('.body-authorPost');

        const commentButton = document.querySelector('.comment-button');

        // 초기 설정 댓글이 선택되어있도록
        commentContent.style.display = 'block';
        authorPostContent.style.display = 'none';
        commentButton.classList.add('active');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                // 댓글 버튼을 클릭했을 때
                if (button.classList.contains('comment-button')) {
                    commentContent.style.display = 'block';
                    authorPostContent.style.display = 'none';
                }
                // Entries 버튼을 클릭했을 때
                else if (button.classList.contains('authorPost-button')) {
                    commentContent.style.display = 'none';
                    authorPostContent.style.display = 'block';
                }
            });
        });
    });

</script>


</head>

<body>
<div class="bigBox">



    <ul class="" style="list-style-type:none;">
        <li class="nav-item">
            <!-- 타임리프의 security이용
            sec:authorize="isAnonymous()은 로그인하지않는 경우->로그인 출력
            sec:authorize="isAuthenticated()은 로그인한 경유->로그아웃 출력
            -->
            <a class="logo"  th:href="@{/main/list}"><img src="/pictures/logo.png" style="width:82px; height:57px; float:left; margin-left:180px; margin-top:45px;"></a>

            <a class="loginBtn" sec:authorize="isAnonymous()" th:href="@{/user/plLogin}"
               style="position: absolute; text-decoration:none; margin-left: 1320px; margin-top: 70px;  font-size: 25px; color:white; font-family: 'Roboto', sans-serif;">LogIn</a>
            <a class="" sec:authorize="isAuthenticated()" th:href="@{/mypage/userinfo}"
               style="text-decoration:none; float:left; margin-top: 70px; font-size: 25px; color:white; margin-left: 1170px; font-family: 'Roboto', sans-serif;">MyPage</a>
            <a class="" sec:authorize="isAuthenticated()"  th:href="@{/user/plLogout}"
               style="text-decoration:none; float:left; margin-top: 70px; font-size: 25px; color:white; margin-left: 50px; font-family: 'Roboto', sans-serif;">LogOut</a>


            <!-- 카카오 로그인 후 로그인/로그아웃 링크 변경 -->

            <!-- <a class="logoutKakao" href="javascript:kakaoLogout();" >
                 로그아웃
             </a>-->




        </li>

    </ul>


</div>
<div class="box1" th:style="|background-image: url('${musicAuction.albumImage}');|"></div>
<div class="container">

    <div class="container-header" >

        <div class="title-split-container">
            <div class="title-left-side">
                <img class="title-image" th:src="@{__${musicAuction.albumImage}__}" onError="this.src='/pictures/no_profile.png';" alt="Album Cover">
            </div>

            <div class="title-right-side">
                <div class="flex-container">
                    <span th:text="${genre}" class="genre"></span>
                    <span class="align-right">

                            <div th:unless="${maxBiddingPrice != 0 and remainingTime != null}">
                                <span th:if="${#authorization.expression('isAuthenticated() and !hasRole(''ROLE_ADMIN'')')}">
                                    <a class="button-edit" th:if="${#strings.toLowerCase(#authentication.principal.username) eq #strings.toLowerCase(musicAuction.authorNickname.email)}" th:href="@{/edit/{id}(id=${musicAuction.id})}">수정</a>
                                </span>
                                <span th:if="${#authorization.expression('isAuthenticated() and hasRole(''ROLE_ADMIN'')')}">
                                    <a class="button-edit" th:href="@{/edit/{id}(id=${musicAuction.id})}">수정</a>
                                </span>
                            </div>

                            <span th:if="${#authorization.expression('isAuthenticated()')}">

                                <span th:if="${wish != 0}">
                                    <a th:href="@{/detail/click-wishbutton(auctionId=${musicAuction.id})}">
                                        <button class="heart-button">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="#9A97FF" stroke="#9A97FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                 <path d="M12 21.35l-1.45-1.32C5.4 16.25 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 7.75-8.55 11.54L12 21.35z" />
                                             </svg>
                                        </button>
                                    </a>
                                </span>

                                <span th:if="${wish == 0}">
                                    <a th:href="@{/detail/click-wishbutton(auctionId=${musicAuction.id})}">
                                        <button class="heart-button">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#9A97FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                 <path d="M12 21.35l-1.45-1.32C5.4 16.25 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 7.75-8.55 11.54L12 21.35z" />
                                             </svg>
                                        </button>
                                    </a>
                                </span>

                            </span>

                            <span th:unless="${#authorization.expression('isAuthenticated()')}">
                                <button class="heart-button" onclick="showLoginAlert()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="9A97FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                         <path d="M12 21.35l-1.45-1.32C5.4 16.25 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 7.75-8.55 11.54L12 21.35z" />
                                     </svg>
                                </button>
                            </span>

                        </span>
                </div>

                <h1 class="album-title" th:text="${musicAuction.title}">Album Title</h1>

                <div>
                    <img class="title-profile-image" th:src="@{__${musicAuction.authorNickname.memberImage}__}" onError="this.src='/pictures/no_profile.png';" alt="Album Cover">
                    <span class="title-author" th:text="${musicAuction.authorNickname.nickname}" >Author</span>
                </div>

                <div class="title-audio">
                    <audio-player th:attr="title='Audio Music',
                        src=${musicAuction.albumMusic},
                        bar-width='3', bar-gap='0.3',
                        preload='preload'"></audio-player>
                </div>

                <script src="/js/audio-player.js"></script>

            </div>
        </div>
    </div>


    <div class="container-body">

        <div class="body-split-container">

            <div class="body-left-side">
                <div class="description">Description</div>
                <div class="body-content">


                    <div class="content" th:text="${musicAuction.content}"></div>

                </div>
                <div class="whiteLine"></div>
                <div style="margin-top:30px"> </div>

                <div class="auction-container">
                    <div class="button-container">
                        <button class="comment-button">Comment</button>
                        <button class="authorPost-button">Entries</button>
                    </div>

                  <div class="body-comment">
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>
                        <div>작성자 : 내용</div>

                        <div class="body-comment">
                            <div class="card-body" th:each="auctionComment:${musicAuction.commentList}" > <!--musicAuction 엔터티에 필드값-->
                                <div class="card-text" style="white-space:pre-line;"  th:text="${auctionComment.content}"></div> <!--AuctionComment 의 content내용-->
                                <div class="d-flex justify-content-end">
                                    <div class="badge bg-light text-dark p-2 text-start">
                                        <div class="my-2">
                                            <span th:if="${auctionComment.authorNickname!=null}"  th:text="${auctionComment.authorNickname.nickname}"></span>
                                        </div>
                                        <div th:text="${#temporals.format(auctionComment.createdAt,'yyyy-MM-dd HH:mm')}"/>
                                    </div>
                                </div>
                                </div>
                            </div>



                       <!--김현민 최종 09.08 19.57-->
                       <form method="post" id="commentForm" th:action="@{|/comment/add/${musicAuction.id}|}" th:object="${commentForm}">
                           <textarea  class="form-control" disabled="disabled" rows="8" sec:authorize="isAnonymous()" th:field="*{comment}"></textarea>
                           <textarea class="form-control" placeholder="댓글 내용을 입력해주세요." rows="8"  sec:authorize="isAuthenticated()" th:field="*{comment}"></textarea>
                           <input type="submit" value="댓글작성" class="comment-submit-button">
                        </form>





                    </div>

                    <div class="body-authorPost">
                        <br>
                        <table class="entries">
                            <th style="width:100px;"></th>
                            <th style="width:500px;"></th>
                            <th style="width:100px;"></th>
                            <th style="width:200px;"></th>
                            <th style="width:100px;"></th>
                            <div th:each="entry : ${entries}" >
                                <tr>
                                    <td >
                                        <img style="width:100px; height:100px;" th:src="${entry.albumImage}"/>
                                    </td>
                                    <td><a th:href="@{/detail?id=__${entry.id}__}" th:for="${entry.title}" th:text="${entry.title}" style="text-decoration:none; color:white;"></a></td>

                                    <td th:for="${entry.genre.name}" th:text="${entry.genre.name}"> </td>
                                    <td th:for="${entry.createdAt}" th:text="${entry.createdAt}"></td>
                                    <td th:for="${entry.status}" th:text="${entry.status}"></td></tr>
                            </div>
                        </table>

                </div>

            </div>

            <div class="body-right-side">
                <div class="dolby"></div>
                <div class="bidding-box">
                    <div th:if="${remainingTime != null}">
                        <div class="deadline-text">SUBMISSION DEADLINE</div>
                        <div class="deadline" id="timeDifference"></div>
                    </div>

                    <div th:if="${remainingTime == null}">
                        <div class="deadline-end">해당 경매는 종료되었습니다.</div>
                    </div>

                    <div th:if="${maxBiddingPrice != 0}">
                        <div>Top Price</div>
                        <div class="money" data-th-text="${#numbers.formatInteger(maxBiddingPrice, 0, 'COMMA') + ' ₩'}"></div>
                    </div>

                    <div th:unless="${maxBiddingPrice != 0}">
                        <div>경매 시작가<br>(경매 내역이 없습니다)</div>
                        <div class="money" th:text="${#numbers.formatInteger(musicAuction.startingBid, 0, 'COMMA') + ' ₩'}"></div>
                    </div>

                    <div class="bidding">

                        <div class="bidding-addPrice">

                        <span class="bidding-button">
                            <span class="left-align-button">
                                <button th:attr="onclick='addPrice(' + ${addValue1} + ') '" data-th-text="|+${addValue1}|"></button>
                            </span>
                            <span class="center-align-button">
                                <button th:attr="onclick='addPrice(' + ${addValue2} + ') '" data-th-text="|+${addValue2}|"></button>
                            </span>
                            <span class="right-align-button">
                                <button th:attr="onclick='addPrice(' + ${addValue3} + ') '" data-th-text="|+${addValue3}|"></button>
                            </span>
                        </span>

                        </div>


                        <div th:if="${#authorization.expression('isAuthenticated()')}">
                            <form id="biddingForm" action="" method="post">

                                <div>
                                    <input type="hidden" name="startPrice" th:value="${musicAuction.startingBid}"/>
                                    <input type="hidden" name="auctionId" th:value="${musicAuction.id}"/>
                                    <input type="hidden" name="bidder" th:value="${#authentication.principal.username}"/>
                                    <input type="number" id="bidding_price" name="bidding_price" th:value="${maxBiddingPrice}"/>

                                </div>

                                <div>
                                    <input type="submit" value="Bidding"/>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div th:unless  ="${#authorization.expression('isAuthenticated()')}">
                        <form id="biddingForm-logout" action="" method="post">

                            <div>
                                <input type="number" placeholder="Please login." readonly/>
                            </div>

                            <div>
                                <input type="submit" id="submitButton" value="Bidding"/>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>



</div>
<script>
    const element = document.querySelector('.bidding-box'); // 고정할 요소의 선택자
    const offset = 600; // 스크롤을 얼마나 내렸을 때 요소를 고정할 것인지의 픽셀 값

    window.addEventListener("scroll", function() {
        if (window.pageYOffset > offset) {
            element.classList.add("sticky");
        } else {
            element.classList.remove("sticky");
        }
    });

</script>


<script th:inline="javascript">
    function showLoginAlert() {
        Swal.fire({
            title: '로그인이 필요합니다.',
            text: '로그인 페이지로 이동하시겠습니까?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '확인',
            cancelButtonText: '취소'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/user/plLogin';
            }
        });
    }
</script>



<!--/* 입찰 버튼 - 비로그인 시에 작동할 기능 */-->
<script>
    document.getElementById("biddingForm-logout").addEventListener("submit", function(event) {
        event.preventDefault();

        Swal.fire({
            title: '로그인 창으로 이동하시겠습니까?',
            text: '비회원은 입찰이 불가합니다.',
            icon: 'info',
            showCancelButton: true,
            confirmButtonText: '확인',
            cancelButtonText: '취소'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/user/plLogin";
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                return false;
            }
        });
    });
</script>

<!--/* 입찰 버튼 - 로그인 시에 작동할 기능 */-->
<!--/* 입력된 정보에 따라 Ajax로 값을 반환받아 알림창에 메시지를 띄워준다. */-->
<script>
    $("#biddingForm").submit(function (event) {
        event.preventDefault();

        var biddingPrice = $("#bidding_price").val();

        if (biddingPrice <= 0) {
            Swal.fire({
                icon: 'error',
                title: '유효하지 않은 입찰 가격입니다.',
                text: '입찰 가격을 확인해주세요.'
            });
        } else {
            var formData = $("#biddingForm").serialize();
            $.post("/bid/create", formData)
                .done(function (response) {
                if(response === "Success"){
                    Swal.fire({
                        icon: 'success',
                        title: '입찰 성공',
                        text: biddingPrice + '원에 입찰되었습니다.'
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                            icon: 'error',
                            title: '입찰 실패',
                            text: response
                        });
                }
                })
                .fail(function (xhr, status, error) {
                    var errorMessage = xhr.responseText;
                    Swal.fire({
                        icon: 'error',
                        title: '입찰 실패',
                        text: errorMessage // 에러메시지를 출력함
                    });
                });
        }
    });
</script>



<!--/* 금액 추가 버튼 클릭시 금액이 추가되는 기능 */-->
<script>
    function addPrice(amount) {
        var inputElement = document.getElementById("bidding_price");
        var currentValue = parseInt(inputElement.value);

        var newValue = currentValue + amount;
        inputElement.value = newValue;
    }
</script>


<!--/* 마감 남은 시간을 출력해주는 기능 */-->
<!--/*
남은시간이 -2초면 페이지 재시작 설정을 해주었지만, 댓글을 작성하고 있거나 다른 작업을 하고있을 수 있으므로
함수를 종료하고 다른 메시지를 띄워주는 설정으로 바꿔주면 좋을듯함.
*/-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var initialTimeDifference = /*[[${remainingTime}]]*/;
    var timeDifference = initialTimeDifference;

    function updateTimeDifference() {
        var timeDifferenceElement = document.getElementById("timeDifference");

        var days = Math.floor(timeDifference / (60 * 60 * 24));
        var hours = Math.floor((timeDifference % (60 * 60 * 24)) / (60 * 60));
        var minutes = Math.floor((timeDifference % (60 * 60)) / 60);
        var seconds = timeDifference % 60;

        var timeString = days + "일 " + hours + "시간 " + minutes + "분 " + seconds + "초";
        timeDifferenceElement.textContent = timeString;

        timeDifference--; // 시간 차이를 1초씩 감소
        if (timeDifference == -2){      // 남은 시간이 음수가 되면 경매는 종료 (0, -1 로설정하니 오차 때문에 잘못작동할때가 있음)
            window.location.reload();
        }
    }

    updateTimeDifference();
    setInterval(updateTimeDifference, 1000);
    /*]]>*/
</script>



</body>
</html>
