<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Pearl!</title>
    <link href="/css/scroll.css" rel="stylesheet" type="text/css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <!--스와이퍼 CDN-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/amplitudejs@5.2.0/dist/amplitude.min.css">
    <script src="https://cdn.jsdelivr.net/npm/amplitudejs@5.2.0/dist/amplitude.min.js"></script>
    <!--구글웹폰트 CDN-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="list-container">
        <div class="container">
            <div class="left">
                Today's<br>
                Top<br>
                Price<br>
                Musics
            </div>
            <div class="right">
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" th:each="musicAuctionList, iterStat :${musicAuctionList}">
                            <a th:href="@{'/detail?id=' + ${musicAuctionList.id}}">
                            <div class="item-content">
                                <div class="item-image">
                                    <img class="thumb" th:src="${musicAuctionList.albumImage}" th:onerror="'this.src=\'/pictures/image_not_found.png\''">
                                </div>
                                <div class="item-text">
                                    <div class="item-text-title" th:text="${musicAuctionList.title}"></div>
                                    <div class="item-text-nickname" th:text="${musicAuctionList.nickname}"></div>
                                    <div class="item-text-timelimit" th:id="'timeDifference' + ${iterStat.index}"></div>
                                    <div class="item-text-price" th:text="${musicAuctionList.maxPrice != null} ? ${musicAuctionList.maxPrice} + ' &#8361;' : '0 &#8361;'"></div>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <!-- 스크롤 필요시 추가 -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
        <div class="scroller-head">
            <div class="scroller-head-text">New Musics</div>
        </div>
        <div class="scroller">
            <div th:each="musicAuctions : ${musicAuctions}">
                <a th:href="@{'/detail?id=' + ${musicAuctions.id}}">
                <div class="card">
                    <div class="albumImage">
                        <img th:src="${musicAuctions.albumImage}" th:onerror="'this.src=\'/pictures/image_not_found.png\''">
                    </div>
                    <div class="top">
                        <div th:text="${musicAuctions.title}"></div>
                    </div>
                    <div class="bottom">
                        <div th:text="${musicAuctions.authorNickname.nickname}"></div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="fixed-content">
            <div class="block">
                <div class="block-textwrap">
                    <div class="block-title">Pearl in the soil</div>
                    <div class="block-content">아직 빛을 보지 못한채 묻혀있는 당신의 음악, <br>Pits에서라면 명반이 될 수 있습니다.<br>당신의 꿈을 펼쳐보세요!</div>
                    <div class="block-regist">
                        <a href="/write" class="block-registbtn">REGIST</a>
                    </div>
                </div>
            </div>
            <div class="music-player">
                <div class="current-track">
                    <img id="currentTrackCover" src="" alt="Current Track Cover" onerror="'this.src=\'/pictures/image_not_found.png\''"/>
                    <div class="controls-top">
                        <div id="currentTime">00:00</div>
                        <input type="range" min="0" max="100" value="0" class="slider" id="progressSlider" oninput="changeProgress()">
                    </div>
                </div>
                <div class="controls">
                    <div class="controls-middle">
                        <button onclick="prevTrack()">
                            <img class="pannel-side" src="/pictures/sidebar-audio-icon/front.png">
                        </button>
                        <button onclick="playPause()">
                            <img class="pannel-main" id="playPauseIcon" src="/pictures/sidebar-audio-icon/play.png">
                        </button>
                        <button onclick="nextTrack()">
                            <img class="pannel-side" src="/pictures/sidebar-audio-icon/back.png">
                        </button>
                        <input type="range" min="0" max="100" value="0" class="slider" id="volumeSlider" oninput="changeVolume()">
                        </div>
                </div>
                <div class="controls-bottom">
                </div>
                <button class="droparrow" id="dropArrow">▼</button>
                <div class="playlist" id="playlist"></div>
                <audio id="audio" preload="metadata">
                </audio>
            </div>
        </div>
    </div>
</div>
<div id="loadingIndicator" class="loading">
    Now Loading...
</div>
    <script src="/js/dropdown.js"></script>
    <script src="/js/infiniteScroll.js"></script>
    <script src="/js/sidebar-audio-player.js"></script>
    <script>
        new Swiper('.swiper', {
     direction: 'vertical',
    // autoplay: true 도 가능하지만 객체 데이터로 할당하면 추가적인 옵션 설정 가능
  autoplay: {
    // 자동재생 여부
    delay: 5000, // 시작시간 설정
  },
  loop: true, // 반복재생 여부
  slidesPerView: 1, // 한번에 보여줄 슬라이드 개수
  spaceBetween: 10, // 슬라이드 사이 여백
  centeredSlides: true // 1번 슬라이드가 가운데 보이기

});
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var remainingTimes = /*[[${remainingTimes}]]*/;
        var intervalIDs = [];

        function startCountdown(index) {
            var timeDifference = remainingTimes[index];
            var timeDifferenceElement = document.getElementById("timeDifference" + index);

            function updateTime() {
                var days = Math.floor(timeDifference / (60 * 60 * 24));
                var hours = Math.floor((timeDifference % (60 * 60 * 24)) / (60 * 60));
                var minutes = Math.floor((timeDifference % (60 * 60)) / 60);
                var seconds = timeDifference % 60;

                var timeString = "D - "+ days + " &nbsp;&nbsp;&nbsp; " + hours + " : " + minutes + " : " + seconds;
                timeDifferenceElement.innerHTML  = timeString;

                timeDifference--; // 시간 차이를 1초씩 감소
            }

            updateTime();  // 처음 실행
            console.log("Starting countdown for index " + index);
            intervalIDs[index] = setInterval(updateTime, 1000);
        }

        for (var i = 0; i < remainingTimes.length; i++) {
            startCountdown(i);
        }
        /*]]>*/
    </script>
</body>
</html>