<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>write</title>
</head>
<body>
<h1>음악등록 작성페이지</h1>
<form th:action="@{/write}" th:object="${musicAuctionDTO}" method="post" enctype="multipart/form-data">
    <p><label for="genre">장르</label>
        <select id="genre" name="genre" th:field="*{genre}">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select></p>
    <p><label for="albumImage">앨범아트</label>
        <input type="file" id="albumImage" name="albumImage" accept="image/*" th:field="*{albumImage}"></p>
    <p><label for="albumMusic">음악 등록</label>
        <input type="file" id="albumMusic" name="albumMusic" accept="audio/*" th:field="*{albumMusic}"></p>
    <p><label for="content">음악 소개</label>
        <textarea id="content" name="content" rows="4" cols="50" th:field="*{content}" placeholder="음악 소개글"></textarea></p>
    <p><label for="title">음악 제목</label>
        <input type="text" id="title" name="title" th:field="*{title}" placeholder="음악 제목"></p>
    <p><label for="authorNickname">작곡가 이름</label>
        <input type="text" th:value="${AnyMember}" id="authorNickname" name="authorNickname" readonly></p>
    <p><label for="startingBid">최소 가격</label>
        <input type="number" id="startingBid" name="startingBid" th:field="*{startingBid}"></p>
    <p><label for="biddingPeriod">입찰 기간</label>
        <select id="biddingPeriod" name="biddingPeriod" th:field="*{biddingPeriod}">
            <option th:each="period : ${biddingPeriods}" th:value="${period.id}" th:text="${period.periodValue}"></option>
        </select></p>
    <p><button type="submit">등록하기</button></p>
</form>
</body>
</html>
