<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>write</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/write.css}">
</head>
<body class="back">
<h1>음악등록 작성페이지</h1>
<form th:action="@{/write}" th:object="${musicAuctionDTO}" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <div class="left">
            <p><label>Genre</label>
            <div th:each="genre : ${genres}" class="radio-item">
                <input type="radio" id="genre_${genre.id}" name="genre" th:value="${genre.id}" th:field="*{genre}" />
                <label th:for="'genre_' + ${genre.id}" th:text="${genre.name}"></label>
            </div></p>

            <p><label>Period</label>
            <div th:each="period : ${biddingPeriods}" class="radio-item">
                <input type="radio" id="period_${period.id}" name="biddingPeriod" th:value="${period.id}" th:field="*{biddingPeriod}" />
                <label th:for="'period_' + ${period.id}" th:text="${period.periodValue}"></label>
            </div></p>

            <p><label for="startingBid">Start Price</label><br>
                <input type="number" id="startingBid" name="startingBid" th:field="*{startingBid}">
                <span th:if="${startingBidError}" th:text="${startingBidError}" class="error-message"></span></p>

            <p><label for="title">Music Title</label><br>
                <input type="text" id="title" name="title" th:field="*{title}"></p>

            <p><label for="content">Description</label><br>
                <textarea id="content" name="content" rows="10" cols="80" th:field="*{content}"></textarea></p>
        </div>
        <div class="right">
            <p>Album Art</p>
            <div class="image-upload-container">
            <img id="image_preview" src="#" alt="Image Preview" style="max-width: 100%; display: none;" />
            <p><label class="custom-file-upload">Attachment</label>
                <input type="file" id="albumImage" name="albumImage" accept="image/*" th:field="*{albumImagePath}" style="display: none;"></p>

            <script>
                document.getElementById('albumImage').addEventListener('change', previewImage);

                function previewImage() {
                var image_upload = document.getElementById('albumImage');
                var image_preview = document.getElementById('image_preview');

                if (image_upload.files && image_upload.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        image_preview.src = e.target.result;
                        image_preview.style.display = 'block';
                    };

                    reader.readAsDataURL(image_upload.files[0]);
                }
            }
                document.querySelector('.custom-file-upload').addEventListener('click', function() {
                    document.getElementById('albumImage').click();
                });
            </script>

            <p>Music</p>
            <p>
                <input type="file" id="albumMusic" name="albumMusic" accept="audio/*" th:field="*{albumMusicPath}" style="display: none;">
                <input type="text" id="albumMusicName" readonly>
                <br>
                <label for="albumMusic" class="custom-file-upload">Attachment</label>
            </p>

            <script>
                document.getElementById('albumMusic').addEventListener('change', function() {
                    var fileName = this.files[0].name;
                    document.getElementById('albumMusicName').value = fileName;
                });
            </script>

                <input type="text" th:value="${currentNickname}" id="authorNickname" name="authorNickname" readonly hidden>

                <p><button type="submit" class="submit-button">Submit</button></p>
            </div>
        </div>
    </div>
</form>
</body>
</html>
