<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>write</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/write.css}">
</head>
<body class="back">

<div class="bigBox">



    <ul class="" style="list-style-type:none;">
        <li class="nav-item">

            <a class="logo"  th:href="@{/main/list}"><img src="/pictures/logo.png" style="width:82px; height:57px; float:left; margin-left:180px; margin-top:45px;"></a>


        </li>

    </ul>


</div>

<div class="background"></div>
<form th:action="@{/write}" th:object="${musicAuctionDTO}" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <div class="left">
            <p><label>Genre</label>
            <div th:each="genre : ${genres}" class="radio-item">
                <input type="radio" id="genre_${genre.id}" name="genre" th:value="${genre.id}" th:field="*{genre}" />
                <label th:for="'genre_' + ${genre.id}" th:text="${genre.name}"></label>
            </div></p><br>

            <p><label>Period</label>
            <div th:each="period : ${biddingPeriods}" class="radio-item">
                <input type="radio" id="period_${period.id}" name="biddingPeriod" th:value="${period.id}" th:field="*{biddingPeriod}" />
                <label th:for="'period_' + ${period.id}" th:text="${period.periodValue}"></label>
            </div></p><br>

<!--            <p><label for="startingBid">Start Price</label><br>-->
<!--                <div class="input-error-container">-->
<!--                    <input type="number" id="startingBid" name="startingBid" th:field="*{startingBid}">-->
<!--                    <span id="startingBidErrorMsg" class="error-message"></span>-->
<!--                </div>-->
<!--                <span th:if="${startingBidError}" th:text="${startingBidError}" class="error-message"></span></p><br>-->


            <div class="input-error-container">
                <p class="priceTitle"><label for="startingBid">Start Price</label><br>
                <input type="number" id="startingBid" name="startingBid" th:field="*{startingBid}">
                <span id="startingBidErrorMsg" class="error-message"style="color:#9A97FF;"></span>
                <span th:if="${startingBidError}" th:text="${startingBidError}" class="error-message" ></span>
            </div></p><br>


            <p class="musicTitle"><label for="title">Music Title</label><br>
                <input type="text" id="title" name="title" th:field="*{title}"></p><br>

            <p><label for="content">Description</label><br>
                <textarea id="content" name="content" rows="10" cols="80" th:field="*{content}"></textarea></p><br>
        </div>

        <div class="verticalLine">

        </div>
        <div class="right">
            <p>Album Art</p>
            <div class="image-upload-container">
                <img id="image_preview" src="#" alt="Image Preview" onerror="this.src='/pictures/image_not_found.png'"/>
                <p><label class="custom-file-upload">Attachment</label>
                    <input type="file" id="albumImage" name="albumImage" accept="image/*" style="display: none;" required></p>
                <span id="imageErrorMsg" class="error1"></span>
                <span th:text="${imageError}" style="color:#9A97FF;"></span>

                <p style="margin-top: 80px;">Music</p>
                <p>
                    <input type="file" id="albumMusic" name="albumMusic" accept="audio/*" style="display: none;" required>
                    <input type="text" id="albumMusicName" readonly>
                    <br>
                    <label for="albumMusic" class="custom-file-upload">Attachment</label>
                    <span id="musicErrorMsg" class="error2"></span>
                    <span th:text="${musicError}" style="color:#9A97FF;"></span>
                </p>

                <script>
                    document.getElementById('albumMusic').addEventListener('change', function() {
                        var fileName = this.files[0].name;
                        document.getElementById('albumMusicName').value = fileName;
                    });
                </script>

                <input type="text" th:value="${currentNickname}" id="authorNickname" name="authorNickname" readonly hidden>

                <p><button type="submit" class="submit-button">Submit</button></p>
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('albumImage').addEventListener('change', previewImage);

    function previewImage() {
        var image_upload = document.getElementById('albumImage');
        var image_preview = document.getElementById('image_preview');

        if (image_upload.files && image_upload.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                image_preview.src = e.target.result;
                image_preview.style.display = 'block';
            };

            reader.readAsDataURL(image_upload.files[0]);
        }
    }

    document.querySelector('.custom-file-upload').addEventListener('click', function() {
        document.getElementById('albumImage').click();
    });

    document.getElementById('albumImage').addEventListener('invalid', function(event) {
        event.preventDefault();
        // 오류 메시지 표시
        document.getElementById('imageErrorMsg').style.display = 'block';
        document.getElementById('imageErrorMsg').textContent = "이미지 파일을 반드시 업로드해야 합니다.";
    });

    // 에러 메시지를 숨기기 위한 이벤트 리스너 추가
    document.getElementById('albumImage').addEventListener('change', function() {
        // 에러 메시지 숨기기
        document.getElementById('imageErrorMsg').style.display = 'none';
    });

    document.getElementById('albumMusic').addEventListener('change', function() {
        var fileName = this.files[0].name;
        document.getElementById('albumMusicName').value = fileName;

        // 에러 메시지 숨기기
        document.getElementById('musicErrorMsg').style.display = 'none'; // 이 부분 추가
    });

    document.getElementById('albumMusic').addEventListener('invalid', function(event) {
        event.preventDefault();
        // 오류 메시지 표시
        document.getElementById('musicErrorMsg').style.display = 'block';
        document.getElementById('musicErrorMsg').textContent = "음악 파일을 반드시 업로드해야 합니다.";
    });

    document.getElementById('startingBid').addEventListener('input', validateStartingBid);

    function validateStartingBid() {
        const startingBidInput = document.getElementById('startingBid');
        const startingBidErrorMsg = document.getElementById('startingBidErrorMsg');
        const minValue = 10000;

        if (startingBidInput.value < minValue) {
            startingBidErrorMsg.textContent = "최소 시작 가격은 10000원입니다";
            startingBidErrorMsg.style.display = 'block';
        } else {
            startingBidErrorMsg.style.display = 'none';
        }
    }

    document.querySelector("form").addEventListener("submit", function(event) {
    let isValid = true;
    const startingBidInput = document.getElementById('startingBid');
    const startingBidErrorMsg = document.getElementById('startingBidErrorMsg');
    const minValue = 10000;
    const imageInput = document.getElementById('albumImage');
    const imageErrorMsg = document.getElementById('imageErrorMsg');
    const musicInput = document.getElementById('albumMusic');
    const musicErrorMsg = document.getElementById('musicErrorMsg');

    if (startingBidInput.value < minValue) {
        startingBidErrorMsg.textContent = "입찰 시작 최소 가격은 10000원입니다";
        startingBidErrorMsg.style.display = 'block';
        isValid = false;
    } else {
        startingBidErrorMsg.style.display = 'none';
    }

    if (!imageInput.files.length) {
        imageErrorMsg.textContent = "이미지 파일을 반드시 업로드해야 합니다.";
        imageErrorMsg.style.display = 'block';
        isValid = false;
    } else {
        imageErrorMsg.style.display = 'none';
    }

    if (!musicInput.files.length) {
        musicErrorMsg.textContent = "음악 파일을 반드시 업로드해야 합니다.";
        musicErrorMsg.style.display = 'block';
        isValid = false;
    } else {
        musicErrorMsg.style.display = 'none';
    }

    if (!isValid) {
        event.preventDefault();
    }
});
</script>
</body>
</html>