<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/findId.css" rel="stylesheet" type="text/css" />


    <title>Title</title>
</head>
<body>
<div class="box">
    <h1>FIND ID</h1>

    <form id="searchForm" method="post" autocomplete='off'>


        <label for="phoneNumber" class="">Type your Phone Number</label>
        <input type="text"  id="phoneNumber" name="phoneNumber"  required>
        <div class="">
            <button type="submit" class="findBtn">Find now</button>
        </div>

    </form>

    <div id="result" class="result" style="color:#9A97FF;">
        <!-- 검색된 이메일은 여기에 표시-->
    </div>
</div>
    <script>

        document.getElementById("searchForm").addEventListener("submit", function (e) {
            e.preventDefault();
            const phoneNumber = document.getElementById("phoneNumber").value;

            // 서버로 전화번호를 전송하고 이메일을 가져오는 AJAX 요청
            fetch(`/user/email?phoneNumber=${phoneNumber}`)
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    }
                    throw new Error('이메일을 찾을 수 없습니다.');
                })
                .then(email => {
                    document.getElementById("result").textContent = `Your Email : ${email}`;
                })
                .catch(error => {
                    document.getElementById("result").textContent = error.message;
                });
        });
    </script>
</body>

</html>