<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/findPw.css" rel="stylesheet" type="text/css" />
    <title>Find Password</title>
</head>
<body>

<div class="box">

<h1>FIND PASSWORD</h1>

<form id="searchForm" action="/user/password" method="post" autocomplete='off'>
    <label for="email">Type your Email</label>
    <input type="text" id="email" name="email" required>

    <div>
        <input class="findBtn" type="submit" value="Find now">
    </div>
</form>

<div class="result" id="error-message" ></div>


</div>
<!-- JavaScript 코드는 그대로 유지됩니다 -->
<script>
    document.getElementById("searchForm").addEventListener("submit", function (e) {
      e.preventDefault();
      const email = document.getElementById("email").value;
      // 서버로 이메일을 전송하고 비밀번호를 가져오는 POST 요청
      fetch("/user/password", {
          method: "POST",
          headers: {
              "Content-Type": "application/x-www-form-urlencoded",
          },
          body: `email=${encodeURIComponent(email)}` // 이메일을 인코딩하여 보냅니다.

      })
          .then(response => {
              if (response.ok) {
                  // 일치하는 사용자를 찾았을 때 페이지 리디렉션
                  window.location.href = `/user/updatePw?email=${email}`; // 원하는 페이지 경로로 변경
              } else {
                  // 일치하지 않을 때 오류 메시지를 생성하고 출력
                  const errorMessage = document.createElement("div");

                  errorMessage.textContent = '일치하는 사용자를 찾을 수 없습니다';
                  document.getElementById("error-message").innerHTML = ''; // 기존 오류 메시지 초기화
                  document.getElementById("error-message").appendChild(errorMessage);
              }
          })
          .catch(error => {
              document.getElementById("error-message").textContent = error.message;
          });
  });
</script>
</body>
</html>