
/* 배경 색상 */
body {
    background-color: #020202;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}


/***************************/
/* 전체를 묶어주는 container */
/***************************/
.container {
      margin-left: 150px;
      width: 1640px;
      height: 800px;
      margin-top: 150px;
      display: flex;
      flex-direction: column;
      align-items: stretch;   /* 높이를 부모 컨테이너에 맞추기 -> 좌,우의 높이가 동일하도록 */
      justify-content: flex-start;
      flex-direction: column;
}


/***************************/
/* 전체에서 상 container */
/***************************/
.container-header {
  padding: 20px;
  background-color: inherit;
}

/***************************/
/* 전체에서 하 container */
/***************************/
.container-body {
    padding: 20px;
    background-color: inherit;
}




/***************************/
/* 상 부분 제목 이미지와 내용을 나누기 위한 container */
/***************************/
.title-split-container {
    display: flex;
    align-items: stretch;   /* 높이를 부모 컨테이너에 맞추기 -> 좌,우의 높이가 동일하도록 */
    justify-content: center;
    background-color: inherit;
}


/* 좌,우 공통 */
.title-left-side,
.title-right-side {
    padding: 20px;
    box-sizing: border-box;
    color: white;
}


/* 좌측 영역 */
.title-left-side {
    flex: 1;
    background-color: #212024;
}

/* 우측 영역 */
.title-right-side {
    flex: 3;
    background-color: #212024;
}

.title-image{
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.title-profile-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 70%;
}

.title-audio{
    margin-top:25px;
}

.title-author {
  font-style: italic;
}





/***************************/
/* 하 부분 내용과 입찰내용을 분리 하기 위한 container */
/***************************/

.body-split-container {
    display: flex;
    justify-content: center;
}

/* 좌,우 공통 */
.body-left-side,
.body-right-side {
    padding: 20px;
    box-sizing: border-box;
    color: white;
}



/* 좌측 영역 */
.body-left-side {
    flex: 3.5;
    background-color: #212024;
}

/* 우측 영역 */
.body-right-side {
    flex: 1;
   /* background-color: purple;*/
}

.body-content{

     /* 스크롤 활성화 */
    height:800px;
    overflow: auto;
}

/*******************/
/* 스크롤바 스타일링 */
/*******************/
.body-content::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 조절 */
}

.body-content::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 설정 */
    border-radius: 6px;     /* 스크롤바 모서리 둥글게 만들기 */
}

.body-content::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤바 트랙 배경색 설정 */
}

/* 스크롤바 스타일이 마우스 호버 상태일 때 변경 */
.body-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.description{
    font-weight: bold;
    font-size: 42px;
    margin-bottom:32px;
}

.content{
    font-size: 16px;
    margin-bottom:60px;
    padding:20px;
    white-space: pre-wrap;
}


.bidding-box{
    height:315px;
    background-color: inherit;
    color:#804EF1;
    border: 4px solid #804EF1; /* 테두리 두께와 색상 설정 */
    border-radius: 30px;
    padding:20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bidding-box input[type="number"],
.bidding-box input[type="submit"]{
    border: 2.5px solid #804EF1; /* 테두리 설정 */
    border-radius: 12px; /* 테두리 둥글게 설정 */
    background-color: inherit;
    color: #804EF1;

}

.bidding-box input[type="number"]{
    width:100%;
    margin-top: 5px;
    margin-bottom: 13px;
    height: 30px;
    font-size: 16px;
}

.bidding-addPrice {
    display: flex;
    width:100%;
    justify-content: space-between; /* 버튼 간격을 동일하게 설정 */
    margin-bottom:10px;
}

.bidding-addPrice button{
    flex: 1;
    width:62px;
    border: 2.5px solid #804EF1;
    border-radius: 25px;
    background-color: inherit;
    color: #804EF1;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bidding-button{
    width:100%;
}


.left-align-button{
    text-align: left;
}

.center-align-button{
    text-align: center;
}

.right-align-button{
    text-align: right;
}

.money {
    font-weight: bold;
    font-size: 34px;
     margin-bottom: 18px;
}

.deadline{
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 20px;
}

.deadline-text{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.deadline-end{
     font-weight: bold;
     font-size: 18px;
     margin-bottom: 35px;
 }



/***************************/
/* Comment, Entries 를 분류하는 버튼 */
/***************************/
.button-container {
    display: flex;                  /* 컨테이너 안의 요소들을 가로로 배열하기 위해 Flexbox 사용 */
    justify-content: space-between; /* 버튼 사이에 공간을 균등하게 분배 */
    width: 100%;                    /* 전체 컨테이너의 너비를 사용 */
}

.button-container button {
    flex-grow: 1;               /* 버튼 요소가 가능한 한 너비를 확장 */
    border-top: none;           /* 테두리 상단 제거 */
    background-color: inherit;  /* 부모 요소의 배경색 상속 */
    color:white;
    font-size: 32px;
}

.button-container button.active {
    text-decoration: underline; /* 클릭되었을 때 밑줄 스타일을 추가합니다. */
}



.body-comment textarea {
    width: 95%; /* 부모 요소의 너비 사용 */
    background-color: #353840;
    color:white;
    font-size: 20px;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    border: none; /* 테두리 없애기 */
    outline: none; /* 포커스 시 발생하는 테두리 제거 */
    padding: 20px;
    border-radius: 25px; /* 둥글게(rounded) 만들기 */
    resize: none; /* 크기 조절 핸들 비활성화 */
}


.comment-submit-button {
    background-color: inherit; /* 배경색 부모 객체의 배경색 상속 */
    color: #fff;
    border: 2px solid #fff; /* 테두리 설정 */
    border-radius: 15px; /* 둥글게(rounded) 만들기 */
    padding: 10px 20px; /* 내용과의 간격 설정 */
    cursor: pointer; /* 커서 모양 변경 (포인터) */
    float: right; /* 우측 정렬 */
}

.auction-container{
    height: 700px;
    overflow: auto; /* 스크롤 활성화 */
}