
/* 배경 색상 */
body {
background-color: #212024;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

.box1{
    position:absolute;
    top: 165px;
    width: 1920px;
    height: 450px;
    opacity: 0.4;
    z-index: -999;
    background-size: cover; /* 이미지 크기를 컨테이너 크기에 맞게 조절 */
              background-repeat: no-repeat; /* 이미지가 반복되지 않도록 */
              background-position: center center; /* 이미지를 중앙에 위치시킴 */
}

/***************************/
/* 전체를 묶어주는 container */
/***************************/
.container {
      margin-left: 150px;
      width: 1640px;
      height: 800px;
      margin-top: 150px;
      display: flex;
      flex-direction: column;
      align-items: stretch;   /* 높이를 부모 컨테이너에 맞추기 -> 좌,우의 높이가 동일하도록 */
      justify-content: flex-start;
      flex-direction: column;
}


/***************************/
/* 전체에서 상 container */
/***************************/
.container-header {

  background-color: inherit;
    margin-left:-140px;
    margin-right:-160px;
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 80px;
    width: 1470px;
}

/***************************/
/* 전체에서 하 container */
/***************************/
.container-body {
    padding: 20px;
    background-color: inherit;
}




/***************************/
/* 상 부분 제목 이미지와 내용을 나누기 위한 container */
/***************************/
.title-split-container {
    display: flex;
    align-items: stretch;   /* 높이를 부모 컨테이너에 맞추기 -> 좌,우의 높이가 동일하도록 */
    justify-content: center;
    background-color: inherit;
}


/* 좌,우 공통 */
.title-left-side,
.title-right-side {
    padding: 20px;
    box-sizing: border-box;
    color: white;
}


/* 좌측 영역 */
.title-left-side {
    flex: 1;
}

/* 우측 영역 */
.title-right-side {
    flex: 3;
}

.title-image{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-left: 30px;

}

.title-profile-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 70%;
}

.title-audio{
    margin-top:25px;
}

.title-author {
    position:absolute;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 12px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* 줄바꿈 없이 한 줄에 요소 표시 */
}

.genre {
    margin-top: 2px;
    padding-top: 2px;
    text-align : center;
    border: 2px solid white;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

.heart-button {
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.album-title{
    font-size: 42px;
    font-weight: bold;
}

.button-edit {
    display: inline-block;      /* 요소를 인라인 블록 요소로 설정하여 텍스트와 같이 표시됩니다. */
    padding: 5px 10px;          /* 버튼 내용 주위의 여백을 지정합니다. */
    border: 1px solid white;    /* 1px 흰색 테두리를 설정합니다. */
    background: inherit;        /* 부모 요소로부터 배경색을 상속합니다. */
    color: white;
    text-decoration: none;      /* 링크 텍스트의 밑줄을 제거합니다. */
    cursor: pointer;            /* 커서 스타일을 포인터로 변경하여 버튼처럼 보이게 합니다. */
    border-radius: 4px;         /* 버튼 모서리를 둥글게 만듭니다. */
}


/***************************/
/* 하 부분 내용과 입찰내용을 분리 하기 위한 container */
/***************************/

.body-split-container {
    display: flex;
    justify-content: center;
}

/* 좌,우 공통 */
.body-left-side{
    margin-left: 20px;
    color: white;
}
.body-right-side {
    color: white;
}



/* 좌측 영역 */
.body-left-side {
   padding: 30px;
    flex: 3.5;
    background-color: #212024;
}

/* 우측 영역 */
.body-right-side {
    flex: 1;
   /* background-color: purple;*/
}

.body-content{

     /* 스크롤 활성화 */
    width: 1000px;
    height:500px;
    overflow: auto;
    -ms-overflow-style: none;
}

.body-content::-webkit-scrollbar {
    display: none;
}

.body-content {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

/*******************/
/* 스크롤바 스타일링 */
/*******************/
.body-content::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 조절 */
}

.body-content::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 설정 */
    border-radius: 6px;     /* 스크롤바 모서리 둥글게 만들기 */
}

.body-content::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤바 트랙 배경색 설정 */
}

/* 스크롤바 스타일이 마우스 호버 상태일 때 변경 */
.body-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.description{
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom:32px;
}

.content{
    font-size: 16px;
    margin-bottom:60px;
    padding:20px;
    white-space: pre-wrap;
}

.dolby {
    position:absolute;
    top:670px;
    left: 1290px;
    width: 320px;
    height: 72px;
    background-image:url('/pictures/dolby.png');
}
.sticky{
    position: fixed;
    bottom: 285px;
    width: 315px;
}

.bidding-box{
    margin-left:1062px;
    margin-top:-1170px;
    max-width: 315px;
    height:395px;
    background-color: inherit;
    color:#9A97FF;
    border: 4px solid #9A97FF; /* 테두리 두께와 색상 설정 */
    border-radius: 20px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bidding-box input[type="number"],
.bidding-box input[type="submit"]{
    margin-top: 10px;
    border: 2.5px solid #9A97FF; /* 테두리 설정 */
    border-radius: 30px; /* 테두리 둥글게 설정 */
    background-color: inherit;
    color: #9A97FF;
    width: 120px;
    height: 50px;
    text-align: right;
    padding-left: 10px;
    padding-right: 18px;
    font-weight: bold;
    font-size: 20px;
}

.bidding-box input[type="submit"]:hover{
    margin-top: 10px;
    border: 2.5px solid #9A97FF; /* 테두리 설정 */
    border-radius: 30px; /* 테두리 둥글게 설정 */
    background-color: #9A97FF;
    color: white;
    width: 120px;
    height: 50px;
    text-align: right;
    padding-left: 10px;
    padding-right: 18px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bidding-box input[type="number"]{
    width:72%;

    margin-top: 5px;
    margin-bottom: 13px;
    height: 30px;
    font-size: 16px;
}

.bidding-addPrice {
    display: flex;
    width:100%;
    justify-content: space-between; /* 버튼 간격을 동일하게 설정 */
    margin-bottom:10px;
}

.bidding-addPrice button{
    flex: 1;
    width:80px;
    height: 30px;
    border: 2.5px solid #9A97FF;
    border-radius: 15px;
    background-color: inherit;
    color: #9A97FF;
    cursor: pointer;
    margin-top: 5px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom: 0px;
}

.bidding-addPrice button:hover{
    flex: 1;
    width:80px;
    height: 30px;
    border: 2.5px solid #9A97FF;
    border-radius: 15px;
    background-color: #9A97FF;
    transition: all 0.3s;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom: 0px;
}

.bidding-button{
    width:100%;
}


.left-align-button{
    text-align: left;
}

.center-align-button{
    text-align: center;
}

.right-align-button{
    text-align: right;
}

.money {
    font-weight: bold;
    font-size: 34px;
     margin-bottom: 18px;
}

.deadline{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.deadline-text{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.deadline-end{
     font-weight: bold;
     font-size: 18px;
     margin-bottom: 35px;
 }



/***************************/
/* Comment, Entries 를 분류하는 버튼 */
/***************************/
.button-container {
    display: flex;                  /* 컨테이너 안의 요소들을 가로로 배열하기 위해 Flexbox 사용 */
    justify-content: space-between; /* 버튼 사이에 공간을 균등하게 분배 */
    width: 100%;                    /* 전체 컨테이너의 너비를 사용 */
}

.button-container button {
    margin-left: -10px;
    border: none;
    height: 70px;
    margin-top: 40px;
    flex-grow: 1;               /* 버튼 요소가 가능한 한 너비를 확장 */
    border-top: none;           /* 테두리 상단 제거 */
    background-color: inherit;  /* 부모 요소의 배경색 상속 */
    color:gray;
    font-size: 32px;
}

.button-container button.active {
            color:white;
        background: linear-gradient(to right, #212024, #212024 39%, white 39%, white 61%, #212024 61%, #212024);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% 7px; /* "border"의 두께 결정 */
             /* "border" 공간 확보 */
            font-weight: bold;
}



.body-comment textarea {
    width: 95%; /* 부모 요소의 너비 사용 */
    background-color: #353840;
    color:white;
    font-size: 20px;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    border: none; /* 테두리 없애기 */
    outline: none; /* 포커스 시 발생하는 테두리 제거 */
    padding: 20px;
    border-radius: 25px; /* 둥글게(rounded) 만들기 */
    resize: none; /* 크기 조절 핸들 비활성화 */
}

.whiteLine {
    border: 1px solid gray;
    width: 980px;
    margin-top: 50px;
    margin-left: 20px;
    opacity: 0.5;
    margin-bottom : -50px;
}


.comment-submit-button {
    background-color: inherit; /* 배경색 부모 객체의 배경색 상속 */
    color: #fff;
    border: 2px solid #fff; /* 테두리 설정 */
    border-radius: 15px; /* 둥글게(rounded) 만들기 */
    padding: 10px 20px; /* 내용과의 간격 설정 */
    cursor: pointer; /* 커서 모양 변경 (포인터) */
    float: right; /* 우측 정렬 */
}

.auction-container{
    width: 1000px;
    height: 700px;
    overflow: auto; /* 스크롤 활성화 */
}