
/* 배경 색상 */
body {
    background-color: #020202;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

/* 프로필 이미지 설정 */
.profile-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.profile-box {
    border-radius: 70%;
    overflow: hidden;
}


.edit-image{
    width: 460px; /* 너비 설정 */
    height: 460px; /* 높이 설정 */
}

.image-container {
    display: flex;
    gap: 10px; /* 이미지와 텍스트 사이의 간격 */
}


.image-with-text {
    text-align: center;
}


/* 파일첨부 관련 CSS */
.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 8px;
}

.file-input-container label {
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.file-input-container input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}


/* 찜목록 이미지 설정 */
.wish-image {
    width: 150px; /* 최대 너비 설정 */
    height: 150px; /* 최대 높이 설정 */
    margin-right: 10px; /* 오른쪽 margin 값 */
}

/* 프로필 이미지 설정 */
.music-image {
    width: 180px; /* 최대 너비 설정 */
    height: 180px; /* 최대 높이 설정 */
}

/* 가운데 정렬 */
.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 우측 정렬 */
.right-align {
    text-align: right;
}

/* 수정불가 텍스트를 위한 우측 정렬 */
.bordered span.right-align {
    text-align: right;
    float: right; /* 우측으로 부유(floating) */
    color: gray;
}

/* 테두리 입히기 */
.bordered {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}


/* Input요소 설정 */
.bordered input[type="text"],
.bordered input[type="number"],
.bordered input[type="password"] {
    border: none;       /* 테두리 제거 */
    padding: 0;
    font-size: inherit;
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: white;       /* 글자색상 지정 */
    outline: none;      /* 포커스 시 테두리 제거 */
}



/* 돈 관련 */
.money-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px; /* 원하는 크기로 조정 */
    color: white; /* 글자 색상 설정 */
}



/********************************/
/* 좌우 영역 구분하기 - 마이페이지 */
/********************************/

.split-container {
    margin-left: 310px;
    width: 1300px;
    height: 800px;
    margin-top:150px;
    display: flex;
    align-items: stretch;   /* 높이를 부모 컨테이너에 맞추기 -> 좌,우의 높이가 동일하도록 */
    justify-content: center;
}

/* 좌,우 공통 */
.left-side,
.right-side {
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

/* 좌측 영역 */
.left-side {
    flex: 1;                    /* 영역의 비율을 설정해주는 속성 */
    background-color: #212024; /* 왼쪽 배경색상 */
}

/* 우측 영역 */
.right-side {
    flex: 3;
}


.transaction-button {
    padding: 10px 25px; /* 버튼의 높이와 너비 설정 */
    border-radius: 5px;
    margin: 0 10px; /* 버튼 사이에 간격 설정 */
}

/* 좌,우 거리 조절을 위한 분할선의 너비 지정 */
/*.divider {
  width: 30px;
}*/

/* 상,하 공통 */
.upper-side,
.lower-side {
  padding: 20px;
  box-sizing: border-box;
  background-color: #212024;
}

.upper-side {
  margin-top: -20px;
}


.lower-side {
    margin-top: 75px;
}


/* 상하 분할 높이 지정 */
.inner-divider {
  height: 20px;
}

/* 수정 버튼 */
.update-button {
        display: inline;
        border: 1px solid white;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
    }

/************************************/
/* 좌우 영역 구분하기 - 마이페이지(수정) */
/************************************/

.split-container-edit {
    margin-left: 310px;
    width: 1300px;
    height: 630px;
    margin-top:150px;
    display: flex;
    align-items: stretch;   /* 높이를 부모 컨테이너에 맞추기 -> 좌,우의 높이가 동일하도록 */
    justify-content: center;
}

.action-button {
    background-color: transparent; /* 배경색 투명하게 설정 */
    color: white;
    padding: 10px 20px;
    border: 2px solid white; /* 테두리 추가 및 스타일 설정 */
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.delete-button {
        background-color: transparent;
        color: white;
        padding: 9px 14px;
        border: 2px solid white;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        margin-left: 10px;
    }


.cancle-button {
        background-color: #dc3545;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: none;
    }



/* 좌,우 공통 */
.left-side-edit,
.right-side-edit {
    box-sizing: border-box;
    color: white;           /* 글씨 색상 */
}


/* 좌측 영역 */
.left-side-edit {
    padding: 15px;
    flex: 1;                    /* 영역의 비율을 설정해주는 속성 */
    background-color: #212024; /* 왼쪽 배경색상 */
}

/* 우측 영역 */
.right-side-edit {
    padding: 70px;
    flex: 1.2;
    background-color: #212024; /* 왼쪽 배경색상 */
}

/*******************************/
/* 좌,우 영역 내부에서 다시 나누기 */
/*******************************/

.inner-split-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex: 1;
    }

.inner-left,
.inner-right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/*******************************/
/* 입출금 관련 페이지 글자색 */
/*******************************/

.transaction-container {
    color: white; /* 기본 글자색을 흰색으로 설정 */
}
