


#scrollTopBtn {
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.7;
}
#scrollTopBtn:hover {
    opacity: 1;
}

#scrollTopBtn img {
    width: 100%;  /* 버튼의 크기에 맞추기 위해 100%로 설정 */
    height: 80%; /* 버튼의 크기에 맞추기 위해 100%로 설정 */
}


            .bg{
                position:fixed;
                width: 1920px;
                height: 1000px;
                background-image:url('/pictures/background/back6.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
                z-index:-1;
                opacity:0.6;
             }

             .bg0{
                             position:fixed;
                             width: 1920px;
                             height: 1000px;
                             background-color: black;
                             background-repeat: no-repeat;
                             background-position: center center;
                             background-size: cover;
                             /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                             background-attachment: fixed;
                             z-index:-1;
                             opacity:1;
                          }


            .bg2{
            position:absolute;
                width: 1920px;
                height: 500px;
                margin-top: 1000px;

                background-color:black;
         /*     background-image:url('/pictures/img.png');
                background-repeat: no-repeat;
                background-position: top center;*/
                background-size: cover;

                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }
            .bg3{
            position:absolute;
                width: 1920px;
                height:1000px;
                margin-top: 1500px;

                background-image:url('/pictures/background/back5.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }
     .bg4{
               position:absolute;
                   width: 1920px;
                   height:500px;
                   margin-top: 2500px;
                  background-color:black;
                   background-size: cover;
                   /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                   background-attachment: fixed;
                }

   .bg5{
                width: 1920px;
                height: 1000px;
                margin-top: 3000px;
                position:absolute;
                background-image:url('/pictures/background/back1.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }

   .bg6{
                width: 1920px;
                height: 500px;
                margin-top: 4000px;
                position:absolute;
                background-color:black;
                 background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }

   .bg7{
                width: 1920px;
                height: 1000px;
                margin-top: 4500px;
                position:absolute;
                background-image:url('/pictures/background/back3.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }
   .bg8{
                width: 1920px;
                height: 500px;
                margin-top: 5500px;
                position:absolute;
                background-color:black;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }

   .bg9{
                width: 1920px;
                height: 1000px;
                margin-top: 6000px;
                position:absolute;
                background-image:url('/pictures/background/back2.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }

   .bg10{
                width: 1920px;
                height: 500px;
                margin-top: 6500px;
                position:absolute;
                background-color:black;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }

   .bg11{
                width: 1920px;
                height: 1000px;
                margin-top: 7000px;
                position:absolute;
                background-image:url('/pictures/background/back4.png');
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: cover;
                /*이 속성을 써 줘야지만 위에 결과물을 낼수가 있습니다.*/
                background-attachment: fixed;
             }




html,body {

    color:white;
   /* background-image: url('/pictures/background.png');
        background-position: right bottom;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:734px 952px;*/
    font-family: 'Roboto', sans-serif;

}

/*body:lang(ko) {
    font-family: 'Noto Sans KR', sans-serif;
}*/





.main-container {

    float:left;
    width: 1920px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height:100%;
    margin-left:50px;
}

.container{

display:flex;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
height: 290px;
width:1080px;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
background-color : #232328;
margin: 20px 0;
border-radius:15px;
}



.list-container{
width:1120px;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:140px;

}

.left {
line-height: 55px;
  width: 220px;
  text-align: left;
  margin:-30px;
  margin-left:30px;
  font-size:45px;
  font-weight:bolder;
  margin-bottom:-30px;
  letter-spacing:2px;
}

.right {
  width: 770px;
  height: 100%;
  text-align: left;
  padding:10px;
  margin-left: 40px;
}

.card {
/*  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 18%; *//* 4 cards in a row *//*
  display: inline-block;
  vertical-align: top;*/
 background-color:#1D1D1D;
      width: 255px;
      height: 380px;
      display: inline-block;
      vertical-align: top;
      color:white;
      margin-bottom:8px;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.scroller{
display:flex;
flex-direction: row;
flex-wrap: wrap;
word-break:break-all;
justify-content:space-around;
gap:10px;
width:1080px;
}

.scroller .top{
    margin-left:20px;
    margin-right:30px;
    margin-top:8px;
    font-weight:bolder;
    font-size:18px;
}
.scroller .bottom{
    margin-left:20px;
    margin-right:30px;
    margin-top:10px;
}

.scroller .genreDiv {
 margin-top: 18px;
    width: 57px;
    height: 23px;
    text-align:center;
     margin-left: 15px;
        border: 1px solid white;
        padding: 3px 5px 2px 5px;
        border-radius: 10px;
        font-size: 4px;
}

img{
width:254px;
height:254px;
text-align: center;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
}

.swiper-slide a:hover {
    color:white;
}

.swiper {
    height: 280px;
}

.swiper-scrollbar {
    display:none;

}


.item-content {
    display: flex;

}


.item-text {
    margin-right: 10px; /* adjust as needed */
    margin-left: 10px;
}

.item-image .thumb{
    width: 220px;
    height: 220px;
    margin-right:30px;
    margin-top:10px;

}



.item-content{
    display: flex;
    align-items: center;
    margin-top : 15px;
    transition: background-color 0.3s ease;

}
.item-text{
width:100%;
}

.item-text-title{
font-size:36px;
font-weight:bolder;
margin-top:0px;
margin-bottom:15px;
}

.item-text-nickname{
font-size:20px;
font-weight:;
margin-top:0px;
margin-bottom:0px;
}

.item-text-timelimit{
font-size:50px;
font-weight:bolder;
text-align:right;
}

.item-text-price{
font-size:30px;
font-weight:bold;
text-align:right;
margin-top:-10px;
}



a, a:visited {
    text-decoration: none;
    color: inherit; /* or set to any other color */
}


.sidebar {

    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column; /* 내용물을 수직으로 정렬 */
    flex-grow: 1;
    height:100%;
}

.sidebar .fixed-content {
    position: fixed;
    top:105px;
    right0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:87vh;
}

.block{
align-text:left;
background-color:#672DE8;
border-radius:15px;
width:380px;
height:205px;
margin-top:20px;
margin-bottom:0px;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

.block-textwrap{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:15px;
    font-weight:900;
}

.block-title{
    font-size: 35px;
    margin: 20px 15px;
}

.block-content{
    font-size: 15px;
    margin: -10px 15px;
    line-height:1.5;
}

.block-regist{
  text-align:right;
  width:100%
}
.block-registbtn{
    margin-right:25px;
    padding: 7px 20px;
    border: 3px solid white;
    border-radius:25px;
    font-size:16px;

    background-color: none; /* 버튼의 배경색 */
        color: white; /* 버튼의 글자색 */
        text-decoration: none; /* 언더라인 제거 */
        display: inline-block; /* 인라인 블록 요소로 변경 */
        transition: background-color 0.3s; /* 배경색의 변화를 부드럽게 만듦 */
}

.block-registbtn:hover{
    background-color: white; /* hover 상태에서의 배경색 */
        color: #672DE8; /* hover 상태에서의 글자색 */
}

.block-registbtn:active{
    background-color: #e0e0e0; /* active 상태에서의 배경색 (색 변경 없음) */
    color: black; /* active 상태에서의 글자색 (색 변경 없음) */
}


.scroller-head-text{
margin-left: 30px;
margin-bottom: 18px;
content-justify:left;
font-size:26px;
font-weight:bolder;
}

.scroller-head{
width:1130px;
color:#9F71FF;
}

/*음악 재생 관련 css*/
.music-player {
    display:flex;
    width: 380px;
    padding: 17px;
    align-items:center;
    justify-content: center;
    flex-direction: column;

}
.droparrow{
color:white;
margin-top: -30px;
}

.playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.playlist.show {
    max-height: 500px; /* 플레이리스트의 최대 높이 설정 */
}

.current-track{
    display:flex;
    align-items:center;
    flex-direction: column;
    font-size: 15px;
    /*background-color:#232328;*/
    background-color: rgba(35, 35, 40, 0.9); /* 투명도 50% 적용 */
    border: 0px solid;
    border-radius:15px 15px 0 0;
    height:400px;
    width:380px;
    justify-content: center;


}




.track {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width:100%;
}

.track img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#6030DF;
    width:380px;
    border: 0px solid;
    border-radius:0 0 15px 15px;
    margin-top : -20px;

}

.controls-middle,
.controls-bottom {
    display: flex;
    margin:25px;
    justify-content: center; /* 이를 추가하여 각 섹션 내의 요소들을 중앙에 정렬합니다 */
    align-items: center;
    width: 100%; /* 필요에 따라 조정할 수 있습니다 */
}

.controls-top{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}

.ListImage{
width:65px;
height:65px;
}

.pannel-side{

width:20px;
height:20px;
margin:10px;
margin-top:4px;
}
.pannel-main{
margin-top:-5px;
width:50px;
height:50px;
}







button{
background-color:transparent;
border:none;
}


/* 재생 슬라이더 css*/
.slider {
    -webkit-appearance: none;  /* 슬라이더의 기본 스타일을 제거 */
    width: 185px; /* 슬라이더의 너비를 부모 요소의 너비에 맞게 조절 */
    height: 5px; /* 두께를 설정 */
    border-radius: 5px; /* 둥근 모서리 */
    background: #d3d3d3; /* 배경색 */
    outline: none; /* 아웃라인 제거 */
    opacity: 0.7; /* 투명도 */
    transition: opacity 0.2s; /* 투명도 전환 효과 */
    margin:10px;
    margin-top:2px;
}

.slider:hover {
    opacity: 1; /* 호버 시 투명도 조절 */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* 슬라이더 핸들의 기본 스타일 제거 */
    appearance: none;
    width: 20px; /* 핸들의 너비 */
    height: 20px; /* 핸들의 높이 */
    border-radius: 50%; /* 둥근 핸들 */
    background: white; /* 핸들의 배경색 */
    cursor: pointer; /* 커서 스타일 변경 */
}

.slider::-moz-range-thumb {
    width: 20px; /* 핸들의 너비 */
    height: 20px; /* 핸들의 높이 */
    border-radius: 50%; /* 둥근 핸들 */
    background: #4CAF50; /* 핸들의 배경색 */
    cursor: pointer; /* 커서 스타일 변경 */
}
/*재생 슬라이더 css*/
/*볼륨 슬라이더 css*/
#volumeSlider {
    width: 60px; /* 볼륨 슬라이더의 너비를 조정 */
    /* 기타 필요한 스타일 속성들... */
}
/*볼륨 슬라이더 css*/


/*음악 재생 관련 css*/