.container{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap:16px;
width:80%;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

}

.left {
  width: 30%;
  text-align: left;
  padding:10px;
}

.right {
  width: 60%;
  height: 100%;
  text-align: left;
  padding:10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 18%; /* 4 cards in a row */
  display: inline-block;
  vertical-align: top;
}

.scroller{
display:flex;
flex-direction: row;
flex-wrap: wrap;
word-break:break-all;
justify-content:space-around;
gap:16px;
width:80%;

}

img{
margin:10px;
width:120px;
height:120px;
text-align: center;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
}


.swiper {
    height: 300px;
}

.item-content {
    display: flex;
}

.item-text {
    margin-right: 20px; /* adjust as needed */
}