
body {
    background-color: black;
    color:white;
    background-image: url('/pictures/background.png');
        background-position: right bottom;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size:734px 952px;
    font-family: 'Roboto', sans-serif;
}

/*body:lang(ko) {
    font-family: 'Noto Sans KR', sans-serif;
}*/

.main-container {
    display: flex;
    justify-content: center;
}

.container{
display:flex;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
gap:16px;
width:1130px;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
background-color : #232328;
margin: 20px 0;
padding : 20px 0;
border-radius:15px;
}



.list-container{
width:1200px;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left {
  width: 250px;
  text-align: left;
  margin:20px;
  margin-left:50px;
  font-size:55px;
  font-weight:bolder;
  margin-bottom:30px;
}

.right {
  width: 770px;
  height: 100%;
  text-align: left;
  padding:10px;
}

.card {
/*  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 18%; *//* 4 cards in a row *//*
  display: inline-block;
  vertical-align: top;*/
  background-image: url('/pictures/CardBackground.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 268px;
      height: 413px;
      display: inline-block;
      vertical-align: top;
      color:white;
}

.scroller{
display:flex;
flex-direction: row;
flex-wrap: wrap;
word-break:break-all;
justify-content:space-around;
gap:16px;
width:1130px;
}

.scroller .top{
    margin-left:30px;
    margin-right:30px;
    margin-top:20px;
    font-weight:bolder;
    font-size:23px;
}
.scroller .bottom{
    margin-left:30px;
    margin-right:30px;
    margin-top:15px;
}

img{
margin:10px;
width:250px;
height:250px;
text-align: center;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
}


.swiper {
    height: 300px;
}

.item-content {
    display: flex;
}

.item-text {
    margin-right: 20px; /* adjust as needed */
}

.item-image .thumb{
    width: 270px;
    height: 270px;
    margin-right:20px;
}

.item-content{
    display: flex;
    align-items: center;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}
.item-text{
width:100%;
}

.item-text-title{
font-size:40px;
font-weight:bolder;
margin-top:15px;
margin-bottom:15px;
}

.item-text-nickname{
font-size:25px;
font-weight:;
margin-top:10px;
margin-bottom:10px;
}

.item-text-timelimit{
font-size:50px;
font-weight:bolder;
text-align:right;
}

.item-text-price{
font-size:37px;
font-weight:bold;
text-align:right;
margin-top:15px;
}



a, a:visited {
    text-decoration: none;
    color: inherit; /* or set to any other color */
}


.sidebar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 상단에 내용물을 정렬 */
    flex-direction: column; /* 내용물을 수직으로 정렬 */
    height: 270px; /* 사이드바의 높이를 화면 높이와 같이 설정 */
}

.sidebar .fixed-content {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.block{
align-text:left;
background-color:#672DE8;
border-radius:15px;
width:500px;
height:250px;
margin-top:20px;
}

.block-textwrap{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    font-weight:900;
}

.block-title{
    font-size: 45px;
    margin: 20px 15px;
}

.block-content{
    font-size: 19px;
    margin: 5px 15px;
    line-height:1.5;
}

.block-regist{
  text-align:right;
  width:100%
}
.block-registbtn{
    margin-right:20px;
    padding: 10px 15px;
    border: 3px solid white;
    border-radius:25px;
    font-size:20px;

    background-color: none; /* 버튼의 배경색 */
        color: white; /* 버튼의 글자색 */
        text-decoration: none; /* 언더라인 제거 */
        display: inline-block; /* 인라인 블록 요소로 변경 */
        transition: background-color 0.3s; /* 배경색의 변화를 부드럽게 만듦 */
}

.block-registbtn:hover{
    background-color: #d0d0d0; /* hover 상태에서의 배경색 */
        color: white; /* hover 상태에서의 글자색 */
}

.block-registbtn:active{
    background-color: #e0e0e0; /* active 상태에서의 배경색 (색 변경 없음) */
    color: black; /* active 상태에서의 글자색 (색 변경 없음) */
}


.scroller-head-text{
margin: 20px;
content-justify:left;
font-size:35px;
font-weight:bolder;
}

.scroller-head{
width:1130px;
color:#9F71FF;
}

