<html>

<head>
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>

    </script>
</head>


<body>


<nav class="" th:fragment="navbarFragment"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="">
        <a class="" href="/" th:href="@{/}">LOGO</a>

        <div class="" id="">
            <ul class="">
                <li class="nav-item">
                    <!-- 타임리프의 security이용
                    sec:authorize="isAnonymous()은 로그인하지않는 경우->로그인 출력
                    sec:authorize="isAuthenticated()은 로그인한 경유->로그아웃 출력
                    -->
                    <a class="" sec:authorize="isAnonymous()" th:href="@{/user/plLogin}">로그인</a>
                    <a class="" sec:authorize="isAuthenticated()"  th:href="@{/user/plLogout}">로그아웃</a>
                    <a class="" sec:authorize="isAuthenticated()" th:href="@{/plMypage}">마이페이지</a>
                    <a class="" sec:authorize="isAuthenticated()" th:href="@{/auction/write}">작성페이지</a>

                    <!-- 카카오 로그인 후 로그인/로그아웃 링크 변경 -->

                    <a class="logoutKakao" href="javascript:kakaoLogout();" >
                        로그아웃
                    </a>


                    <a href="/" onclick="signOut();">Sign out</a>

                </li>

            </ul>

        </div>
    </div>


</nav>










</body>

</html>