<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>

    </script>
</head>


<body>


<nav class="" th:fragment="navbarFragment"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" style="width:1920px;height: 100px; float: left; background-color: none;">
    <div class="bigBox">



            <ul class="" style="list-style-type:none;">
                <li class="nav-item">
                    <!-- 타임리프의 security이용
                    sec:authorize="isAnonymous()은 로그인하지않는 경우->로그인 출력
                    sec:authorize="isAuthenticated()은 로그인한 경유->로그아웃 출력
                    -->
                    <a class="logo"  th:href="@{/main/list}"><img src="/pictures/logo.png" style="width:84px; height:42px; float:left; margin-left:180px; margin-top:50px;"></a>

                    <a class="loginBtn" sec:authorize="isAnonymous()" th:href="@{/user/plLogin}"
                       style="position: absolute; text-decoration:none; margin-left: 1320px; margin-top: 70px;  font-size: 25px; color:white; font-family: 'Roboto', sans-serif;">LogIn</a>
                    <a class="" sec:authorize="isAuthenticated()" th:href="@{/plMypage}"
                       style="text-decoration:none; float:left; margin-top: 70px; font-size: 25px; color:white; margin-left: 1170px; font-family: 'Roboto', sans-serif;">MyPage</a>
                    <a class="" sec:authorize="isAuthenticated()"  th:href="@{/user/plLogout}"
                       style="text-decoration:none; float:left; margin-top: 70px; font-size: 25px; color:white; margin-left: 50px; font-family: 'Roboto', sans-serif;">LogOut</a>


                    <!-- 카카오 로그인 후 로그인/로그아웃 링크 변경 -->

                   <!-- <a class="logoutKakao" href="javascript:kakaoLogout();" >
                        로그아웃
                    </a>-->




                </li>

            </ul>


    </div>


</nav>










</body>

</html>